<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}TinkeringAlong Blog{% endblock %}</title>
    
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    {% block extra_head %}{% endblock %}
</head>

<header class="site-banner">
    <img src="{% static 'images/banner.webp' %}" alt="TinkeringAlong Banner" class="site-banner-img">
</header>

<body>

    <div class="container">
        <!-- Sidebar -->
        <aside class="sidebar">
            <h2>Navigation</h2>
            <ul>
                <li><a href="{% url 'posts:home' %}">Home</a></li>

            </ul>
        </aside>

        <!-- Main Content -->
        <main class="content">
            {% block content %}{% endblock %}
        </main>
    </div>

    <!-- Footer -->
    <footer>
        <p>&copy; 2025 TinkeringAlong</p>
    </footer>

    {% block extra_scripts %}{% endblock %}
</body>
</html>
